@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hogeschool</h1>
    <p class="lead">Welkom op de pagina van de hogeschool. Hier kun je je tentamen overzicht bekijken.</p>
</div>

<div class="row"><p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
</div>