@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hogeschool</h1>
    <p class="lead">Welkom op de pagina van de hogeschool. Hier kun je je tentamen overzicht bekijken.</p>
</div>

<div class="row"><p>Je bent nog niet ingelogd. <a href="inloggen">Klik hier</a> om je in te loggen.</p>
</div>