

@{
    ViewBag.Title = "Home";
}
<div>
    <h2>Hallo <b>studentnaam</b></h2>

    <p>Maak een keuze</p>
    <br />
    <a href="~/ExamSubscriptions/Create"><button class="btn-info">Schrijf je in</button></a>
    <a href="~/Exams/Cijferoverzicht"><button class="active" title="Bekijk hier je cijferoverzicht">Cijferoverzicht</button></a>
</div>